/* universal */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300;700&display=swap');

html,
body {
  font-size: 16px;
  overflow-x: hidden;
}

root {
  --black-three: #121212;
}

/* imges */
img {
  object-fit: cover;
}

/* footer */
footer {
  padding: 20px;
}

footer small {
  float: right;
}

footer a {
  color: gray;
  padding-left: 0.7em;
}

footer a:hover {
  color: black;
}

.app {
  width: 100vw;
  background-color: #fafafa;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.panel {
  width: 80%;
  margin: 1rem auto;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: 'Roboto Slab', serif;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
}

.title {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  padding-bottom: 0.3rem;
}

.category {
  font-size: 14px;
  font-weight: 700;
  color: #adadad;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.author {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
  color: #4386bf;
}

.actions {
  margin: 1rem 0 0.3rem;
}

.actions > button {
  height: 19px;
  font-size: 14px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  border: none;
  background-color: transparent;
}

.actions > button:hover {
  cursor: pointer;
  color: #adadad;
  outline: none;
  border: none;
}

.actions > button:first-child {
  padding-right: 0.8rem;
}

.actions > button:nth-child(2) {
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
  text-align: center;
  padding: 0 0.8rem;
}

.actions > button:last-child {
  padding-left: 0.8rem;
}

.chapter-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto Slab', serif;
}

.current-chapter {
  height: 18px;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
}

.border {
  height: 70px;
  border: solid 2px #e8e8e8;
  background-color: #e8e8e8;
}

.progress-bar {
  width: 68px;
  height: 68px;
  background-color: transparent;
}

.stats {
  display: flex;
  align-items: center;
}

.percentage-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.progress-bar-text {
  color: #121212;
  font-weight: 400;
  font-size: 32px;
}

.percentage-status {
  color: #adadad;
}

.chapter-details div:first-child {
  font-weight: 300;
  font-size: 13px;
  opacity: 0.5;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.chapter-details div:nth-child(2) {
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: -0.4px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.update-progress {
  background-color: #0290ff !important;
  padding: 0.25rem 1.35rem !important;
  font-size: 13px;
  text-transform: uppercase;
}
