/* universal */
html,
body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #f5f6fa;
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar {
  padding: 1rem 3rem;
}
.navbar-brand {
  color: #0290ff!Important;
  font-weight: bold;
  font-size: 26px;
}

.nav-link {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}
