/* universal */
html,
body {
  font-size: 16px;
  overflow-x: hidden;
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar {
  padding: 1rem 3rem;
}

.bg-light {
  background-color: white!important;
}

.navbar-brand {
  color: #0290ff!Important;
  font-weight: bold;
  font-size: 26px;
}

.nav-link {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}

/* BooksForm */
.lbl-anb {
  font-weight: bold;
  color: rgba(0,0,0,.5);
}
